@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #212529;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav {
  &__items {
    display: block;
  }

  &__icon {
    display: none;
  }
}

.loader {
  text-align: center;
}

/* Header component */

.header {
  margin: 100px 0 40px;
  text-align: center;
  text-transform: uppercase;

  &__title {
    font-size: 40px;
    line-height: 60px;
    color: #212529;
    font-weight: 400;
    letter-spacing: 0.1px;
    text-align: center;
  }

  &-subtitle {
    font-size: 16px;
    color: #4c4b4b;
    margin-top: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 520px) {
  .header {
    &__title {
      font-size: 20px;
      line-height: 50px;
    }

    &-subtitle {
      font-size: 13px;
    }
  }

  .nav {
    &__items {
      display: none;
    }

    &__icon {
      display: block;
      cursor: pointer;
    }
  }
}

/* Sign Up page */

.signup {
  &__card {
    max-width: 500px;
    margin: auto;
  }

  &__form {
    display: flex;
    margin: 10px 20px;
    flex-direction: column;
  }

  &__submit {
    margin: auto;
    padding: 20px 0;
  }
}

/* User Page */
.users {

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 10px 0;
    cursor: pointer;

    &:hover {
      -webkit-box-shadow: 0px 4px 10px 0px rgba(191,191,191,1);
      -moz-box-shadow: 0px 4px 10px 0px rgba(191,191,191,1);
      box-shadow: 0px 4px 10px 0px rgba(191,191,191,1);
    }

    &-info {
      display: flex;
      align-items: center;

      span {
        margin-left: 10px;
      }
    }
  }
}

/* About page */

.about {
  &__header {
    text-align: center;
    padding: 30px;
    &-avatar {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }
  }

  &__body {
    display: flex;
    padding: 30px 20px;
    border-top: 1px solid #ececec;

    &-info {
      min-width: 200px;

      p {
        font-weight: bold;

        span {
          font-weight: normal;
        }
      }
    }

    &-content {
      p {
        margin-bottom: 20px;
      }
    }
  }

  &__footer {
    text-align: center;
    border-top: 1px solid #ececec;

    svg {
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 520px) {
  .about {
    &__body {
      flex-direction: column;

      &-info {
        margin-bottom: 20px;
      }
    }
  }
}

/* Modal */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans';

  &__paper {
    background-color: #ffffff;
    border: 1px solid #666;
    border-radius: 5px;
    width: 395px;
    outline: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 20px 17px;

    h2 {
      font-size: 24px;
      font-weight: 400;
    }

    span {
      color: #7b7b7b;
      cursor: pointer;
      font-size: 20px;
    }
  }

  &__body {
    font-size: 16px;
    line-height: 24px;
    color: '#4c4b4b';
    font-weight: 400;
    border-top: 1px solid #eceef1;
    border-bottom: 1px solid #eceef1;
    padding: 20px 17px;
  }

  &__footer {
    text-align: right;
    margin: 15px 0;

    &-btn {
      width: 80px;
      font-size: 16px;
      color: #fefefe;
      font-weight: 600;
      outline: none;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      padding: 8px 0;
      margin: 17px 15px;
    }
  }
}
/* End Modal */