* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #212529;
}

/* Navigation */

.toggle {
  position: absolute; 
  display: none;
}

.menu {
  margin: 0 auto;
  position: absolute;
  bottom: 15%;
  right: 7%;
  margin-left: -25px;
  margin-top: -25px;
  z-index: 100;
}

.btn {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}

.material-icons.md-36 {
  font-size: 28px; 
  color: #ECEFF1 
}

.btn {
  background: #1e2229;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn:not(:first-child) {
  opacity: 0;
  z-index: -2;
  
  -webkit-transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
  transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
}

.btn:nth-child(2) {
  top:0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s
}

.btn:nth-child(3) {
  top:0px;
  left: 0px;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s
}

.btn:nth-child(4) {
  left:0px;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s
}

input#toggle:checked ~ #show-menu .btn:nth-child(2) {
  top: -90px;
  opacity:1;
}

input#toggle:checked ~ #show-menu .btn:nth-child(3) {
  top:-60px;
  left:-80px;
  opacity:1;
}

input#toggle:checked ~ #show-menu .btn:nth-child(4) {
  left: -90px;
  top: 20px;
  opacity:1
}

.menuBtn, .closeBtn {
  position: absolute;
  transition: all 0.3s ease;
}

.closeBtn {
  transform: translateY(50px);
  opacity: 0;
}

input#toggle:checked ~ #show-menu .btn .menuBtn {
  transform: translateY(-50px);
  opacity: 0;
}

input#toggle:checked ~ #show-menu .btn .closeBtn {
  transform: translateY(0px);
  opacity: 1;
}

/* End Navigation block */

@media screen and (max-width: 960px) {
  .menu {
    right: 10%;
  }
}

.loader {
  text-align: center;
}

@media screen and (max-width: 520px) {
  .header {
    &__title {
      font-size: 20px;
      line-height: 50px;
    }

    &-subtitle {
      font-size: 13px;
    }
  }
}

/* About page */

.about {
  &__header {
    text-align: center;
    padding: 30px;
    &-avatar {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }
  }

  &__body {
    display: flex;
    padding: 30px 20px;
    border-top: 1px solid #ececec;

    &-info {
      min-width: 200px;

      p {
        font-weight: bold;

        span {
          font-weight: normal;
        }
      }
    }

    &-content {
      p {
        margin-bottom: 20px;
      }
    }
  }

  &__footer {
    text-align: center;
    border-top: 1px solid #ececec;

    svg {
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 520px) {
  .about {
    &__body {
      flex-direction: column;

      &-info {
        margin-bottom: 20px;
      }
    }
  }
}

.radom__data {
  margin-top: 30px;
  text-align: center;
}

/* Modal */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans';

  &__paper {
    background-color: #ffffff;
    border: 1px solid #666;
    border-radius: 5px;
    width: 395px;
    outline: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 20px 17px;

    h2 {
      font-size: 24px;
      font-weight: 400;
    }

    span {
      color: #7b7b7b;
      cursor: pointer;
      font-size: 20px;
    }
  }

  &__body {
    font-size: 16px;
    line-height: 24px;
    color: '#4c4b4b';
    font-weight: 400;
    border-top: 1px solid #eceef1;
    border-bottom: 1px solid #eceef1;
    padding: 20px 17px;
  }

  &__footer {
    text-align: right;
    margin: 15px 0;
    margin-right: 15px;

    &-btn {
      width: 80px;
      font-size: 16px;
      color: #fefefe;
      font-weight: 600;
      outline: none;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      padding: 8px 0;
      margin: 17px 15px;
    }
  }
}
/* End Modal */